.container {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
}

.first_meme {
  width: 100%;
  min-height: 2rem;
  background-color: bisque;
  border-radius: 1rem;
}

.second_meme {
  width: 100%;
  min-height: 2rem;
  background-color: bisque;
  border-radius: 1rem;
}

.third_meme {
  width: 100%;
  min-height: 2rem;
  background-color: bisque;
  border-radius: 1rem;
}

.fourth_meme {
  width: 100%;
  min-height: 2rem;
  background-color: bisque;
  border-radius: 1rem;
}

.fifth_meme {
  width: 100%;
  min-height: 2rem;
  background-color: bisque;
  border-radius: 1rem;
}

#meme_1:checked~.first_label .first_meme_block .first_meme_image {
  transition: 1s;
  width: 50%;
  height: 100%;
}
}

#meme_2:checked~.second_label .second_meme_block .second_meme_image {
  transition: 1s;
  width: 50%;
  height: 100%;
}

#meme_3:checked~.third_label .third_meme_block .third_meme_image {
  transition: 1s;
  width: 50%;
  height: 100%;
}

#meme_4:checked~.fourth_label .fourth_meme_block .fourth_meme_image {
  transition: 1s;
  width: 50%;
  height: 100%;
}

#meme_5:checked~.fifth_label .fifth_meme_block .fifth_meme_image {
  transition: 1s;
  width: 50%;
  height: 100%;
}

.fifth_meme:hover .fifth_meme_image {
  transition: 800ms;
  width: 50%;
  height: 100%;
}